In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import env
import acquire
import prepare

# 1. Acquire & Fix + Prep

In [112]:
telco_df = acquire.get_telco_data()

In [48]:
#telco_df = prepare.prep_telco(telco_df)

In [69]:
telco_df.head(1)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check

# 2. Fix Data

In [ ]:
# Create dummy columns in stages for possible "drop_first" 
# (column variable count < 2)

cat_col_2_var = []
for column in range(len(cat_check)):
    if len(telco_df[cat_check[column]].value_counts()) == 2:
        cat_col_2.append(column)
dummy_telco = pd.get_dummies(telco_df)
telco_df = pd.concat([telco_df, dummy_telco], axis=1)

# Create dummy columns in stages for the remainder
# (column variable count > 2)

cat_col_gt2_var = []
for column in range(len(cat_check)):
    if len(telco_df[cat_check[column]].value_counts()) > 2:
        cat_col_gt2_var.append(column)
dummy_telco = pd.get_dummies(telco_df)
telco_df = pd.concat([telco_df, dummy_telco], axis=1)

In [ ]:
test_dummy['payment_type'].value_counts()

In [ ]:
test_dummy.drop(columns=['total_charges','customer_id'], inplace=True)

In [ ]:
test_dummy_mult_var = test_dummy[['payment_type','internet_service_type','contract_type']]

In [ ]:
test_dummy_mult_var_dummies = pd.get_dummies(test_dummy_mult_var)

In [113]:
telco_df['total_charges'] = (telco_df.total_charges + '0').astype('float')

In [ ]:
cat_check = telco_df.select_dtypes(include=object).columns.to_list()

In [114]:
telco_df.head(1)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check

In [115]:
#telco_df = telco_df.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])
telco_df = telco_df.drop(columns=['internet_service_type_id', 'contract_type_id', 'payment_type_id'])

In [116]:
telco_df.head(1)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check

# 3. Dummies

In [155]:
telco_df.select_dtypes(include=object).head(1)

,customer_id,gender,partner,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,No,Yes,No,One year,DSL,Mailed check

In [156]:
# Test for temporarily dropping 'customer_id'
# for creating a list of categorical columns
# and excluding all unique
telco_df.drop(columns = 'customer_id').select_dtypes(include=object).head(1)

,gender,partner,dependents,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,churn,contract_type,internet_service_type,payment_type
0,Female,Yes,Yes,Yes,No,No,Yes,No,Yes,Yes,No,Yes,No,One year,DSL,Mailed check

In [157]:
# Categorical Columns

categorical_columns = telco_df.drop(columns = 'customer_id').select_dtypes(include=object).columns.to_list()
print(categorical_columns[:3])
print(len(categorical_columns))

['gender', 'partner', 'dependents']
16

In [128]:
categorical_columns

['gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

### - 3a. Categorical Columns that are Binary

In [158]:
categorical_columns = telco_df.drop(columns = 'customer_id').select_dtypes(include=object).columns.to_list()
categorical_columns_binary = []

for i in range(len(categorical_columns)):
    if len(telco_df[categorical_columns[i]].value_counts()) == 2:
        categorical_columns_binary.append(categorical_columns[i])
categorical_columns_binary

['gender',
 'partner',
 'dependents',
 'phone_service',
 'paperless_billing',
 'churn']

In [137]:
len(telco_df['gender'].value_counts())

2

### - 3b. Categorical Columns Not Binary

In [159]:
categorical_columns = telco_df.drop(columns = 'customer_id').select_dtypes(include=object).columns.to_list()
categorical_columns_not_binary = []

for i in range(len(categorical_columns)):
    if len(telco_df[categorical_columns[i]].value_counts()) > 2:
        categorical_columns_not_binary.append(categorical_columns[i])

categorical_columns_not_binary

['multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'contract_type',
 'internet_service_type',
 'payment_type']

In [143]:
len(telco_df['multiple_lines'].value_counts())

3

In [144]:
for i in categorical_columns_not_binary:
    print(len(telco_df['multiple_lines'].value_counts()))

3
3
3
3
3
3
3
3
3
3

### barplot
---
> x = counts of bins

> y = bins of a continuous variable

#### Combining Features

House SQFT

&

Bedrooms & Baths

#### New Feature = 

Living SQFT = SQFT - ((100*Beds) + (36*bath))

#### Visualizing

Use Facets for 3-4 Variables

(Subplots)

### 3b. Create dummies from 2 lists (Bivariate & Multi-Variate Columns)

#### - Binary

In [154]:
categorical_columns = telco_df.drop(columns = 'customer_id').select_dtypes(include=object).columns.to_list()
categorical_columns_binary = []

for i in range(len(categorical_columns)):
    if len(telco_df[categorical_columns[i]].value_counts()) == 2:
        categorical_columns_binary.append(categorical_columns[i])

categorical_columns_binary_dummies = pd.get_dummies(telco_df[categorical_columns_binary],drop_first=True)
#telco_df = pd.concat([telco_df, dummy_telco], axis=1)

In [160]:
categorical_columns_binary_dummies.head(1)

,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,paperless_billing_Yes,churn_Yes
0,0,1,1,1,1,0

In [153]:
categorical_columns

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'online_security',
 'online_backup',
 'device_protection',
 'tech_support',
 'streaming_tv',
 'streaming_movies',
 'paperless_billing',
 'churn',
 'contract_type',
 'internet_service_type',
 'payment_type']

#### - Not Binary

In [167]:
categorical_columns = telco_df.drop(columns = 'customer_id').select_dtypes(include=object).columns.to_list()
categorical_columns_not_binary = []

for i in range(len(categorical_columns)):
    if len(non_uniq_not_binary_df[categorical_columns[i]].value_counts()) > 2:
        categorical_columns_not_binary.append(categorical_columns[i])

categorical_columns_not_binary_dummies = pd.get_dummies(non_uniq_not_binary_df[categorical_columns_not_binary],drop_first=True)
#telco_df = pd.concat([telco_df, dummy_telco], axis=1)

In [168]:
categorical_columns_not_binary_dummies.head(1)

,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,0,0,0,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1

# Finished Products Dummies

In [ ]:
#categorical_columns_binary_dummies
#categorical_columns_not_binary_dummies

In [175]:
telco_df = pd.concat([telco_df, categorical_columns_binary_dummies], axis=1)
telco_df = pd.concat([telco_df, categorical_columns_not_binary_dummies], axis=1)

In [176]:
telco_df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type', 'gender_Male', 'partner_Yes', 'dependents_Yes',
       'phone_service_Yes', 'paperless_billing_Yes', 'churn_Yes',
       'multiple_lines_No phone service', 'multiple_lines_Yes',
       'online_security_No internet service', 'online_security_Yes',
       'online_backup_No internet service', 'online_backup_Yes',
       'device_protection_No internet service', 'device_protection_Yes',
       'tech_support_No internet service', 'tech_support_Yes',
       'streaming_tv_No internet service', 'streaming_tv_Yes',
       'streaming_movies_No internet service', 'streaming_movies_Yes',
       'contract_type_One year', 'contract_type_Two year',
       'internet_service_type_Fiber optic', 'internet_service_type_None',
       'payment_type_Credit card (automatic)', 'payment_type_Electronic check',
       'payment_type_Mailed check', 'gender_Male', 'partner_Yes',
       'dependents_Yes', 'phone_service_Yes', 'paperless_billing_Yes',
       'churn_Yes', 'multiple_lines_No phone service', 'multiple_lines_Yes',
       'online_security_No internet service', 'online_security_Yes',
       'online_backup_No internet service', 'online_backup_Yes',
       'device_protection_No internet service', 'device_protection_Yes',
       'tech_support_No internet service', 'tech_support_Yes',
       'streaming_tv_No internet service', 'streaming_tv_Yes',
       'streaming_movies_No internet service', 'streaming_movies_Yes',
       'contract_type_One year', 'contract_type_Two year',
       'internet_service_type_Fiber optic', 'internet_service_type_None',
       'payment_type_Credit card (automatic)', 'payment_type_Electronic check',
       'payment_type_Mailed check'],
      dtype='object')

# 4. Split

In [180]:
telco_train, telco_validate, telco_test = prepare.split_dataset(telco_df)

In [181]:
telco_train.head(1)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
4604,6490-FGZAT,Male,0,No,No,6,Yes,No,No internet service,No internet service,...,0,1,0,0,0,0,1,0,0,1

# 5. Test

# Takeaways