In [34]:
import numpy as np
import pandas as pd

# Python Display Latex
from IPython.display import display, Latex


<img src="confusion_matrix.png" align=left width="600">

In [43]:
%%html
<style>
table {float:left}
</style>

# 2.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

In [ ]:
# False Positive

# Pred Dog/Actual Cat = 13
# Pred Cat/Actual Dog = 7

In [ ]:
# False Negative

# Pred Cat/Actual Dog = 7
# Pred Dog/Actual Cat = 13

 ### Recall
 # $\frac{TP}{TP + FN}$

In [30]:
# Using Dog as Positive Test

tp = 46
fn = 7
recall = tp/(tp+fn)

In [31]:
print(recall)

0.8679245283018868

In [ ]:
# Describe as accurate

### Precision
# $\frac{\text{TP}}{\text{TP + FP}} $

In [32]:
tp = 46
fp = 13
precision = tp/(tp+fp)

In [33]:
print(precision)

0.7796610169491526

In [ ]:
# Describe as fairly accurate

# 3.


You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

   - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
   - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [35]:
df = pd.read_csv('c3.csv')

In [37]:
df.head(3)

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect

#### - An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [38]:
df['actual'].value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

#### df[['model1', 'model2', 'model3']]

#### _Want duck defects_
#### _Positive Case = Defects_

 ### Recall = Accurate True Positives
 ### Recall
 # $\frac{TP}{TP + FN}$

In [42]:
subset = df [df.actual == 'Defect']
subset

(subset.actual == subset.model1).mean()

#Model 1 recall
model_recall = (subset.actual == subset.model1).mean()

print("Model 1")
print(f"Model recall: {model_recall:.2%}")

# Model 2 recall
model_recall = (subset.actual == subset.model2).mean()

print("Model 2")
print(f"Model recall: {model_recall:.2%}")

# Model 2 recall
model_recall = (subset.actual == subset.model3).mean()

print("Model 3")
print(f"Model recall: {model_recall:.2%}")

# Quality Control should use Model 3

Model 1
Model recall: 50.00%
Model 2
Model recall: 56.25%
Model 3
Model recall: 81.25%

#### - Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [ ]:
# Context = Capturing/Predicting Defects
# Positive Case = Defect
# 
# False Positives = Predicted Defect / Actual QC Pass
#
# Recall = False Positives as "free"
# Recall = does not inclue FP
#
# Precision = incudes FP in calculating accuracy
# Highest Precision = Least FP

### Avoid False Positives

### Precision
# $\frac{\text{TP}}{\text{TP + FP}} $

In [ ]:
#positive case = defect

In [44]:
subset = df [df.model1 == 'Defect']
subset

# model1 precision
model_precision = (subset.actual == subset.model1).mean()

print(f"Model 1 Precision: {model_precision:.2%}")

# model2 only 'positive predictions'
subset = df [df.model2 == 'Defect']

# model2 precision
model_precision = (subset.actual == subset.model2).mean()

print(f"Model 2 Precision: {model_precision:.2%}")

# choose subset for model3 where we only select 'positive predictions'
subset = df [df.model3 == 'Defect']

# calculate precision
model_precision = (subset.actual == subset.model3).mean()

print(f"Model 3 Precision: {model_precision:.2%}")

Model 1 Precision: 80.00%
Model 2 Precision: 10.00%
Model 3 Precision: 13.13%

> Make into For Loop later \#side_note

### 3B. Takeaways:
### Precision = True Positives
#### - model 1 has least false positive predictions of defects

# 4.

You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

   - In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
   - Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
   - Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?

In [47]:
df = pd.read_csv('gives_you_paws.csv')

In [48]:
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [49]:
df['baseline'] = df.actual.value_counts().idxmax()

In [50]:
df

     actual model1 model2 model3 model4 baseline
0       cat    cat    dog    cat    dog      dog
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
4       cat    cat    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4998    cat    cat    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[5000 rows x 6 columns]

In [51]:
# baseline accuracy 
(df.actual == df.baseline).mean()

0.6508

In [53]:
# all models accuracy
model_acc = []

for model in df.columns[1:]:
    acc = (df.actual == df[model]).mean()
    model_acc.append([model, acc])

# output list
model_acc

[['model1', 0.8074],
 ['model2', 0.6304],
 ['model3', 0.5096],
 ['model4', 0.7426],
 ['baseline', 0.6508]]

In [54]:
# convert to df
pd.DataFrame(model_acc, columns=['model','accuracy'])

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

In [55]:
# precision for all models
model_pre = []

for model in df.columns[1:]:
    
    subset = df [df[model] == 'dog']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
model_pre

[['model1', 0.8900238338440586],
 ['model2', 0.8931767337807607],
 ['model3', 0.6598883572567783],
 ['model4', 0.7312485304490948],
 ['baseline', 0.6508]]

In [56]:
pd.DataFrame(model_pre, columns=['model','precision'])

      model  precision
0    model1   0.890024
1    model2   0.893177
2    model3   0.659888
3    model4   0.731249
4  baseline   0.650800

In [57]:
# precision for all models
model_pre = []

for model in df.columns[1:]:
    
    subset = df [df[model] == 'cat']
    
    precision = (subset.actual == subset[model]).mean()

    model_pre.append([model,precision])
    
model_pre

[['model1', 0.6897721764420747],
 ['model2', 0.4841220423412204],
 ['model3', 0.358346709470305],
 ['model4', 0.8072289156626506],
 ['baseline', nan]]

In [58]:
pd.DataFrame(model_pre, columns=['model','precision'])

      model  precision
0    model1   0.689772
1    model2   0.484122
2    model3   0.358347
3    model4   0.807229
4  baseline        NaN

In [ ]:
# Cat team:

# precision minimize false positives
# use model 4

# FUNCTIONS

In [59]:
from sklearn.metrics import classification_report

In [60]:


print("Model 1")
pd.DataFrame(classification_report(df.actual, df.model1, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 1

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

In [61]:
print("Model 2")
pd.DataFrame(classification_report(df.actual, df.model2, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 2

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [62]:


print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 3

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [63]:


print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4, 
                      labels=['cat','dog'],
                      output_dict=True))

Model 4

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000

In [64]:
from sklearn.metrics import accuracy_score

In [65]:
accuracy_score(df.actual, df.model1)

0.8074